.all-users {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow-x: auto;
  margin-left: 60px;
}

.user-card {
  width: 420px;
  min-width: 300px;
  margin: 10px;
}

.profile-pic {
  width: 100%;
}
