.model-info {
  width: 825px;
  margin-right: auto;
  margin-left: auto;
}

.model-bio {
  font-size: 17px;
  color: black;
}

.model-attr {
  font-size: 22px;
  text-align: center;
  color: black;
}

.container {
  background-color: black;
  width: 100%;
}

.title {
  background-color: white;
}

.text {
  background-color: white;
}

.grid-tile {
  margin: 15px;
}
